.bookmarks {
  padding: 30px;
  color: #fff;
}
.bookmarks h2 {
  margin-bottom: 20px;
}
.bookmark-list {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}